# Install and import lambdata_AndrewMarksArt

In [1]:
!pip install -i https://test.pypi.org/simple/ lambdata_AndrewMarksArt==0.0.6

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata_AndrewMarksArt==0.0.6
  Downloading https://test-files.pythonhosted.org/packages/33/c4/eafc34f90a46ec4d9790d955ffd3f2e0553498a796926fbf7c801c8ea05c/lambdata_AndrewMarksArt-0.0.6-py3-none-any.whl
Installing collected packages: lambdata-AndrewMarksArt
Successfully installed lambdata-AndrewMarksArt-0.0.6

In [6]:
import lambdata_AndrewMarksArt as helper

# create a df and list then use the list to col function from lambdata_AndrewMarksArt to add the list to the DatatFrame as a new column

In [3]:
dir(lambdata_AndrewMarksArt)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'list_to_col',
 'np',
 'pd',
 'split_dates']

In [4]:
d = {
    'col1': [1, 2, 3],
    'col2': [4, 5, 6],
}

In [5]:
lst = [7, 8, 9]

In [8]:
df = helper.pd.DataFrame(d)

In [9]:
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [10]:
df = helper.list_to_col(df, 'col3', lst)
df

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

# create a new data frame with a 'date' column and use the split dates function to create columns for the month, day and year

In [11]:
d2 = {
    'date': ['10/10/2010', '02/21/1999']
}

df2 = helper.pd.DataFrame(d2)
df2

         date
0  10/10/2010
1  02/21/1999

In [12]:
df2 = helper.split_dates(df2, 'date')
df2

   month  day  year
0     10   10  2010
1      2   21  1999